Flask
twitter
tweepy
textblob
google-cloud-storage
google-cloud-vision
tensorflow
tensorflow_hub
numpy
urllib3
six
Werkzeug
langdetect
google-cloud-language
google-cloud-firestore
firebase-admin
matplotlib
monkeylearn
uclassify