<html>
    <head>
        <title> analyse </title>
    </head>
    <body>
        <form method="post" action="/ana">
            <input type="text" name="analy">
            <input type="submit" name="submit" value="submit">

        </form>

        <!-- {% for p in catego %}
            
            
                {% for h in p %}

                    
                        {{ "result:"+h+"\n" }}
                    
                {% endfor %}
                      
        
        {% endfor %} -->

        <img src="{{urllll}}">

    </body>