<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fledge</title>

    <link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">

  </head>
  <body>
   <div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left"> 
      <!-- ################################################################################################ -->
      <h1 class="logoname"><a href="{{ url_for('index') }}">Fledge</a></h1>
      <!-- ################################################################################################ -->
    </div>
    <nav id="mainav" class="fl_right"> 
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('tag') }}">Hashtag Generation</a></li>
        <li><a href="{{ url_for('text') }}">Text Classification</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('log') }}">Logout</a></li>
       
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </header>
</div>

    {% block content %}
    {% endblock %}

  </body>
</html>